<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="social.butterfly.streamers">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="social.butterfly.streamers.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Streamer Timeline"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="social.butterfly.streamers.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name="social.butterfly.streamers.VideoActivity">


        </activity>
    </application>


</manifest>